.imgBlock1{
    position: relative;
}

.imgBlock1 a.icon span svg{
    width: 100px;
    height: 100px;
    color:black
}
.imgBlock1 a.icon span svg:hover{
    width: 100px;
    height: 100px;
    color:white
}
.wrap-about{
    position: relative;
    padding-left: 3em!important
}
.wrap-about .heading-section-bold{
    margin-top: 3rem !important;

}
.wrap-about .heading-section-bold h2 {
    font-size: 2.5em;
    font-weight: 600;
    color: #000000;
    line-height: 1.5;
    padding-right: 1rem!important;
}
.ftco-services .services {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem  
}
.ftco-services .services .icon {
    line-height: 1.3;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
}
.ftco-services .services .icon span {
    width: calc(70em/16);
    height: calc(70em/16);
    color: #000000;
}
.ftco-services .services .icon span img{
    width: 100%;
    height: 100%;
}
.ftco-services .services .media-body {
    width: 100%;
}
.ftco-services .services .media-body h3 {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 3px;
    color: black;
    font-family: inherit;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: calc(15em/16);
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}
.img-2 .icon {
    width: 100px;
    height: 100px;
    background: #ffa45c;
    border-radius: 50%;
}