.ggAFge {
    flex-basis: 72%;
    padding: 1.5rem 1rem 0px;
}
.fwsEni {
    opacity: 1;
}
.fwsEni .title {
    margin-top: 0px;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: rgb(95, 95, 95);
    font-weight: 700;
}
.iWIiNj {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 4px;
    padding: 10px 15px;
    width: 50%;
}
.fFyyxJ {
    margin-bottom: 1rem
}
.MuiFormControl-root{
    display: contents!important;
}
.MuiFormControlLabel-root{
    width: 100%;
}