.mouses {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    z-index: 99;
}
.mouse-icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    background: black;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.mouse-wheel {
    height: 30px;
    margin: 0.5rem auto 0;
    display: block;
    width: 30px;
    background: transparent;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.ftco-footer {
    font-size: 0.875rem;
    padding-top: 5em!important;
    color: #000000;
    width: 100%;
    padding-bottom: 5em!important;
}
.ftco-section {
    position: relative;
}
.bg-light {
    background: #f8f9fa !important;
}
.ftco-footer .ftco-footer-widget h2 {
    margin-bottom: 1.25rem;
    font-size: calc(13rem/16) ;  
     font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.ftco-footer .ftco-footer-widget ul li {
    font-size: (14em/16);
    margin-bottom: 0px;
}
.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}
.ftco-footer .ftco-footer-widget ul li a {
    color: #000000;
}
.ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}
.ftco-footer-social li a span {
    position: absolute;
    font-size: calc(26em/16);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}
.block-23 ul li span.icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    display: table-cell;
    vertical-align: top;
}
.block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    padding-top: calc(5rem/16);
}
footer.bg-light.ftco-section.ftco-footer{
    padding:2em!important
}
.ftco-footer .ftco-footer-widget h2.navbar-brand{
color: black!important;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 2px;
font-size: calc(20em/15);
margin-right: 1rem;
display: inline-block;
padding-top: 0;
padding-bottom: 0.3125rem;
margin-right: 1rem;
line-height: inherit;
white-space: nowrap;
}